<style>
/* Global Styles */
.st-content img {
  max-width: 100%;
  height: auto;
}

.st-content .justify,
.st-content .justify p {
  text-align: justify;
}

.st-content p.lead {
  font-size: 24px;
  font-weight: 400;
}

.st-content .container {
  position: relative;
  z-index: 1;
}

/* Cover image */
.st-content .intro {
  align-items: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: flex-end;
  margin-bottom: 40px;
  min-height: calc(100vw * 9 / 16);
  position: relative;
  width: 100%;
}

.st-content .intro-text {
  background-color: #000;
  color: #f0f0f0;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.st-content .intro-text h1 {
  color: #f0f0f0;
  font-size: 28px;
}

.st-content .intro-text h2 {
  color: #f0f0f0;
  font-size: 18px;
  font-weight: 400 !important;
}

/* Scroll Backgrounds */
.st-content .scroll-section .background-with-multimedia {
  height: 100vh;
  padding-top: 60px; /* nav bar height */
  position: fixed;
  top: 0;
  width: 100%;
}

.st-content .bg-scroll {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  opacity: 0;
  position: absolute;
  transition: opacity 0.25s ease-in-out;
  width: 100%;
  z-index: 1;
}

.st-content .bg-scroll.entered {
  opacity: 1;
  z-index: 2;
}

.st-content .bg-scroll img {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  width: auto;
}

.st-content .bg-scroll img.cover {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

/* Steps */
.st-content .step {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;
  margin: 0 auto;
  min-height: 100vh;
  padding: 20px;
  position: relative;
  width: 100%;
  z-index: 10;
}

.st-content .step.interactive {
  justify-content: flex-end;
  margin-bottom: 100vh;
}

.st-content .step > * {
  max-width: 640px;
  padding: 20px;
}

.st-content .step p {
  background: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  text-align: justify;
}

.st-content .step p.lead {
  font-size: 24px;
  text-align: left;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Final Bottom Callout */
.st-content .bottom-callout {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}
</style>

<script>
function initScrolling() {

  const offset = 0.9;

  window.addEventListener('scroll', () => {

    // Get all the scroll containers, can be more than one.
    const containerSteps = document.querySelectorAll('.scroll-section');

    Array.from(containerSteps).forEach((container) => {

      // Fet all the steps into a container.
      const steps = container.querySelectorAll('.step');

      Array.from(steps).forEach((step) => {
        const start = step.offsetTop - window.innerHeight * offset;
        let end = start + step.offsetHeight;

        if (step.classList.contains('interactive')) {
          end += window.innerHeight;
        }

        if ((end >= scrollY) && (start <= scrollY)) {
          changeScene(step);
        } else {
          removeScene(step);
        }
      });
    });
  });
}

function removeScene(step) {
  const scene = step.dataset.scroll;
  if (document.getElementById(scene)) {
    // The ID for the stiky element should match the data-scroll value from the step.
    const sceneElement = document.getElementById(scene);
    sceneElement.classList.remove('entered');
  }
}

function changeScene(step) {
  const scene = step.dataset.scroll;
  if (document.getElementById(scene)) {
    // The ID for the stiky element should match the data-scroll value from the step.
    const sceneElement = document.getElementById(scene);
    sceneElement.classList.add('entered');
  }
}

// Init.
initScrolling();
</script>